.home {
  max-width: 1000px;
}
h2 {
  padding: auto 10rem;
  background-color: #df6971;
}
.App-header {
  color: #305f44;
  font-size: 1.5rem;
  padding: 2rem;
  background-image: url(../../assets/past.png);
  background-size: 7%;
}

.moi {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  animation: myAnim2 5s ease-in-out 0s infinite normal forwards;
  border: solid 0.5rem #305f44;
  border-radius: 6rem;
  margin: -3rem auto 1rem auto;
}
.moi-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: 0rem -1.8rem;
}
.defil {
  margin: 1.5rem auto;
  font-size: 2rem;
  font-weight: bolder;
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: defilement-rtl 15s infinite linear;
}

.app-welcome {
  color: #df6970;
  width: 80%;
  margin: 1rem auto 2rem;
  border: 0.8rem solid #305f44;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem #499167, inset 0 0 1rem 0.25rem #305f44;
  background-color: #4991671c;
}
@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-5px);
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0); /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* position finale à gauche */
  }
}
.main {
  display: flex;
  justify-content: space-around;
}
.right-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
