.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 850px;
}
.dataLink {
  margin: auto;
  padding: 1rem 5rem;
}
.image-link {
  width: 20rem;
  background-color: rgb(179, 211, 179);
  padding: 3rem;
}
.img-link_git img {
  width: auto;
  height: 8rem;
}
.img-link_me img {
  width: auto;
  height: 8rem;
}
.img-link_portfolio img {
  width: auto;
  height: 8rem;
}
.img-link_linkedin img {
  width: auto;
  height: 8rem;
}
.txt-links {
  margin-bottom: 2rem;
}
.links a {
  text-decoration: none;
  color: #305f44;
  font-weight: bold;
  cursor: url("https://surlapage.fr/widget/cursors/18/1284645.gif"), default;
}

@media screen and (max-width: 850px) {
  .links {
    width: 80%;
  }
  .img-link_git img,
  .img-link_portfolio img,
  .img-link_linkedin img,
  .img-link_me img {
    width: 12rem;
    height: auto;
    margin-left: 5rem;
  }
}
@media screen and (max-width: 620px) {
  .links {
    width: 100%;
    margin-left: -2rem;
  }
}
