.all-me {
  max-width: 1775px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.me {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 0.2rem;
  font-size: 1.2rem;
}
.me-section {
  background-image: url(../../assets/past.png);
  background-size: 4%;
  background-repeat: repeat-x;
  background-position: top;
  position: relative;
}
.me-section {
  padding-right: 1rem;
}
figcaption {
  width: 50%;
}

.me-realisations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}
.me-realisations video {
  width: 17rem;
  height: 17rem;
}
.me-realisations img {
  width: 40rem;
}
.download {
  margin-left: 60%;
  padding: 1rem;
  border: solid 5px rgb(73, 145, 103);
  border-radius: 1rem;
  background-color: rgba(73, 145, 103, 0.3);
}
.download a {
  color: rgb(73, 145, 103);
  font-weight: bolder;
  text-decoration: none;
  cursor: url("https://surlapage.fr/widget/cursors/16/1281092.gif"), default;
}

@import url("https://fonts.googleapis.com/css?family=Overpass");

.blur {
  position: absolute;
  left: 15%;
  width: 80%;
  color: #fefefe;
  font-family: "Overpass", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 10px;
  margin: auto;
  padding-top: 1rem;
  filter: blur(5px);

  overflow: hidden;
  text-align: center;
  z-index: 3;
}

.container {
  height: 10vh;
  padding: 0;
  margin: auto;
  max-width: 1783px;
  overflow: hidden;

  background: #000;
}
.container span:hover {
  filter: blur(0px);
}
.container a {
  color: white;
  font-size: 2rem;
  text-decoration: none;

  cursor: url("https://surlapage.fr/widget/cursors/10/1291110.gif"), default;
}
.link a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: url("https://surlapage.fr/widget/cursors/10/1291110.gif"), default;
}
.link {
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  padding: 0.1rem 0.7rem;
  border: solid #df6971 0.5rem;
  border-radius: 1rem;
  text-align: center;
}
.link-2 {
  width: 15rem;
  margin-left: 2rem;
}

@media screen and (max-width: 1330px) {
  .me-realisations video {
    width: 30rem;
    height: 30rem;
  }
  .me-realisations img {
    margin-top: 5rem;
    width: 30rem;
  }
}
@media screen and (max-width: 1035px) {
  .me-realisations video {
    width: 25rem;
    height: 25rem;
  }
  .me-realisations img {
    margin-top: 5rem;
    width: 25rem;
  }
}
@media screen and (max-width: 900px) {
  .all-me {
    display: block;
  }
  .me {
    width: 90%;
    margin: auto;
  }
  .me-realisations {
    width: 100%;
  }
  .me-realisations video {
    width: 80%;
    height: auto;
    margin-bottom: 5rem;
  }
  .me-realisations img {
    width: 80%;
    margin-top: 0;
  }
  .blur {
    left: 25%;
    width: 70%;

    font-size: 1.8rem;
    letter-spacing: 8px;
    margin: auto;
    padding-top: 1rem;
    filter: blur(5px);
    line-height: 4rem;
  }
  .link-2 {
    margin-left: 0.8rem;
    margin-top: 5rem;
  }
  .container {
    height: 15vh;
  }
}
